<div class="private-container">
    <ul mat-menu>
        <li routerLinkActive="selected" ><a mat-button color="primary" routerLink="/dashboard">Dashboard</a></li>
        <li routerLinkActive="selected" ><a mat-button color="primary" routerLink="/gallery">Gallery</a></li>
        <li routerLinkActive="selected" ><a mat-button color="primary" routerLink="/users">Users</a></li>
        <li routerLinkActive="selected" ><a mat-button color="primary" routerLink="/profile">Profile</a></li>
    </ul>
    <div class="user-container">
        <p>¡Hola, {{ this.sharedService.loginMember.username }}!</p>

        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
</div>