<table>
    <thead>
        <tr>
            <th>Avatar</th>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of members">
            <td>
                <img [src]="member.avatar_url" width="80" />
            </td>
            <td>
                <span> {{ member.id }}</span>
            </td>
            <td>
                <span>{{ member.login }}</span>
            </td>
            <td><button mat-flat-button (click)="edit(member)">Editar</button></td>
            <td><button mat-flat-button (click)="remove(member)">Elminar</button></td>
        </tr>
    </tbody>
</table>