header {
    padding: 20px;
    background-color: #FFCA00;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    h2 {
        font-family: 'Ubuntu';
    }
}
