<div>
    <form #updateForm="ngForm" (submit)="updateUser()">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput name="id" [(ngModel)]="editedUser.id" #id="ngModel"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="editedUser.login" #name="ngModel"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Avatar</mat-label>
            <input matInput name="avatar" [(ngModel)]="editedUser.avatar_url" #avatar="ngModel"/>
        </mat-form-field>
        
        <button type="submit">Guardar</button>
    </form>
</div>